<header>
  <div class="header-container">
    <img src="assets/thirst6-logo.png" alt="SFG Logo" class="logo">
    <ul class="nav-list">
      <li><a [routerLink]="'/home'">Home</a></li>
      <li><a [routerLink]="'/dashboard'">Dashboard</a></li>
        <li><a [routerLink]="'/about-us'">About Us</a></li>

    </ul>
  </div>
</header>

<nav>
  <div class="custom-sidenav-container">
    
    <div class="custom-content-container">
      <div class="custom-router-outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</nav>

<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Directions</h3>
      <p>Thirst6 - South Africa</p>
      <p>Call Us: +27 12 345 6789</p>
    </div>
    <div class="footer-section">
      <h3>Quick Menu</h3>
      <ul class="footer-nav-list">
        <li><a [routerLink]="'/home'">Home</a></li>
        <li><a [routerLink]="'/about-us'">About Us</a></li>
        
      </ul>
    </div>
  </div>
</footer>
